# Exclude native platform folders from GitHub language statistics
android/**/* linguist-vendored
ios/**/* linguist-vendored
linux/**/* linguist-vendored
macos/**/* linguist-vendored
windows/**/* linguist-vendored
web/**/* linguist-vendored
